* {
    box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
}

.header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);
}

.header .title {
    font-size: 44px;
    font-family: 'Righteous', cursive;
    letter-spacing: -0.012em;
}

.header .subtitle {
    font-size: 18px;
}

.menu {
    margin:92px auto;
    padding: 20px;   
}

.menu .section {   
    margin-bottom: 12px;
}

.menu .section .options { 
    overflow-x: scroll; 
    width: 100%;
    padding: 10px 0;
}

.menu .section > .title {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    letter-spacing: -0.018em;
}

.menu .section .options { 
    display: flex;
}

.menu .section .options .option {
    width: 172px;
    padding: 18px 14px;
    margin-right: 16px;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, .25);
}

.menu .section .options .option img {
    width: 144px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
}

.menu .section .options .option .title {
    font-size: 16px;
    font-weight: bold;
    margin: 11px 0 15px;
}

.menu .section .options .option .description {
    font-size: 15px;
    color: #A6A6A6;
    font-weight: 300;
    margin-bottom: 15px;
}

.menu .section .options .option .price {
    font-weight: bold;
    font-size: 16px;
}

.option .check{
    opacity: 0;
    color: #32B72F;
    font-size: 20px;
}

.menu .section .options .option.selected .check {
    opacity: 1;
}

.menu .section .options .option.selected {
    border: 5px solid #32B72F;
    padding: 13px 9px;
}
